<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Integridad Referencial</title>
</head>
<body>
  <h1>AUDITORIA DE INTEGRIDAD REFERENCIAL DE BASE DE DATOS</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Base de Datos</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
      </tr>
    </tbody>
  </table>
</body>
</html>