<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Integridad Referencial</title>
</head>
<body>
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Auditoria Informática</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      
      
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="row d-flex justify-content-center">
  <div class="col-md-6" style="text-align: center;">
    <h1 >INTEGRIDAD REFERENCIAL DE BASE DE DATOS</h1>
    <table class="table" style="text-align: left;">
      <thead>
        <tr>
          <th scope="col">Base de Datos</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bd of listaBds">
          <th scope="row">{{bd['nombre']}}</th>
          <td><i class="fas fa-eye"></i></td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
  
  
</body>
</html>